.chatbot-container {
  width: 350px;
  border: 1px solid #cecece;
  border-radius: 10px;

  .header {
    border-bottom: 1px solid #dddddd;
    padding: 0.5rem;
  }

  .chat-box {
    min-height: 400px;
  }
}

.content-body {
  padding: 25px;
}

.header-ui-1 {
  background: #1b64e7;
  text-align: center;
  padding: 7px 15px;
  color: #fff;
}

.p-row {
  display: flex;
}

.p-row .col-6 {
  padding: 15px;
  flex: 1;
}

.p-row h1 {
  font-size: 40px;
}

.p-row .col-6 img {
  max-width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* scroll bar */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 50px;


}

::-webkit-scrollbar-thumb:hover {
  background-color: #1b64e7;
}

::-webkit-scrollbar-button {
  display: none;
}

* {
  scrollbar-face-color: #c1c1c1;
  scrollbar-shadow-color: #e2e2e2;
  scrollbar-track-color: #e2e2e2;
  scrollbar-arrow-color: #e2e2e2;
}

:focus {
  outline-color: #1b64e7;
}


/* chat bot */
.chatbot-ui {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 400px;
  border-radius: 10px;
  border: 1px solid #1b64e7;
  // overflow: hidden;

}

.chatbot-ui-head {
  padding: 10px 15px;
  background: #1b64e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
}

.chatbot-ui-title {
  display: flex;
  align-items: center;

}

.chatbot-ui-title .chatbot-ui-title-img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-right: 15px;
}

.chatbot-title-text-1 {
  font-size: 12px;
  color: #fff;
  display: block;
}

.chatbot-title-text-2 {
  font-size: 18px;
  color: #fff;
  display: block;
}

.chatbot-ui-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chat-dropdown {
  position: relative;
}

.chat-dropdown .chatbot-ui-submenu {
  display: none;
  position: absolute;
  list-style-type: none;
  right: 0;
  top: 30px;
  border-radius: 8px;
  background: #FFF;
  border: 1px solid #1b64e7;
  min-width: 150px;
  padding: 15px;
}

.chat-dropdown .chatbot-ui-submenu li a {
  color: #000;
}

.chat-dropdown:hover .chatbot-ui-submenu {
  display: block;
}

.toogle-links {
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
}

/* content part */
.chatbot-ui-contents {
  min-height: 250px;
  max-height: 300px;
  overflow: auto;
  background: #fff;
  padding: 25px;
}

.user-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: #F1F1F1;
  border-radius: 50px;

}

.user-chat .pi {
  font-size: 10px;
}

.chat-left,
.chat-right {
  font-size: 14px;
  font-weight: 500;
  flex-wrap: wrap;
  margin: 0.35rem 0;
}

.bot-profile {
  border-radius: 50%;
}

.think {
  font-weight: 600;
  position: absolute;
  top: -4.2rem;
  z-index: 99;
  width: 100px;
  left: 19px;
  background-color: #fff;
  border: 1px solid #cecece;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  background: #f2f6fa;
}

.chat-times {
  display: block;
  width: 100%;
  font-size: 11px;
  padding: 0 0 0 40px;
  margin-top: 5px;
  color: #adadad;
}

.chat-r-1 {
  display: flex;
  max-width: 71%;
  align-items: center;
}

.thumb-response.active .pi {
  color: #1b64e7;
}

.chat-left {
  display: flex;
  justify-content: flex-start;
}

.chat-left .c-text-1 {
  border-radius: 0px 8px 8px 8px;
  background: #F1F1F1;
  display: flex;
  min-width: 100px;
  padding: 7px 15px;

}

.chat-left .user-chat {
  margin-right: 10px;
}

.chat-left .thumb-response {
  margin-left: 5px;
}

.chat-right {
  display: flex;
  justify-content: flex-end;
}

.chat-right .c-text-1 {
  border-radius: 8px 0px 8px 8px;
  background: #F1F1F1;
  min-width: 100px;
  padding: 7px 15px;

  background: #1b64e7;
  color: #fff;
}

.chat-right .user-chat {
  margin-left: 10px;
  background: #1b64e7;
}

.chat-right .user-chat .pi {
  color: #fff;
}

.chat-right .chat-times {
  text-align: right;
  margin-right: 35px;

}

.chat-right .thumb-response {
  margin-right: 5px;
}




.chat-slection-options {
  margin: 20px 0;
}

.chat-slection-option-lists {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.chat-slection-option-lists li {
  margin: 6px 0;
  display: flex;
  justify-content: center;
}

.chat-slection-option-lists .button-links {
  display: block;
  padding: 5px 10px;
  background: #1b64e7;
  border: 1px solid #1b64e7;
  color: #fff;
  font-size: 14px;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  min-width: 200px;
}

.chat-slection-option-lists .button-links:hover {
  background: #fff;
  color: #000;
}

.chatbot-ui-footer {
  padding: 10px 15px;
  background: #fff;
}

.chatbot-ui-footer .chat-ui-input {
  display: flex;
  background: #F8F8F8;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
}

.chatbot-ui-footer .chat-ui-input .chat-input-f {
  flex: 1;
  background: transparent;
  padding: 7px 10px;
  border: none;
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.chatbot-ui-footer .chat-ui-input .chat-input-f:focus {
  outline: 0;
  box-shadow: none;
}

.chat-ui-input-cta {
  border-radius: 4px;
  background: #d6e5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.chat-ui-input-cta svg {
  width: 20px;
}

.chat-ui-input-cta svg path {
  fill: #1b64e7;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loading__dot {
  animation: dot ease-in-out 1s infinite;
  background-color: grey;
  display: inline-block;
  height: 6px;
  margin: 3px;
  width: 6px;
}

.loading__dot:nth-of-type(2) {
  animation-delay: 0.2s;
}

.loading__dot:nth-of-type(3) {
  animation-delay: 0.3s;
}

@keyframes dot {
  0% { background-color: grey; transform: scale(1); }
  50% { background-color: #bada55; transform: scale(1.3); }
  100% { background-color: grey; transform: scale(1); }
}

.chatbot-opener{
  width: 60px;
  border-radius: 50%;

  img{
    width: 100%;
    border-radius: 50%;
  }
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border: 1px solid #1b64e7;
}